/* General typography and formatting */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    background-color: #eee;
    color: #000;
    font-size: small;
    line-height: 20px;
}

h1 {
    font-size: 1.4em;
    color: #003973;
}

h2 {
    font-size: medium;
    font-style: oblique;
    line-height: 24px;
}

img {
    border: 0;
}

/* Abbreviations and acronyms */
acronym, abbr, .abbrev {
    border-bottom: 1px dotted #000;
    font-style: normal;
    cursor: help;
}

header {
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
    background-color: #003973;
    background-repeat: repeat-x;
    border-bottom: 1px solid #fff;
    height: 50px;
}

header h1 {
    font-size: 24px;
    font-family: "Times New Roman", times;
    font-variant: small-caps;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    color: #eee;
}

/* Form Styles */
#content {
    margin: 2em;
    background-color: #fff;
    padding: 1em;
    border: 2px solid #ddd;
}

form div {
    margin: 10px;
    clear: both;
}

form label {
    display: block;
}

label.inline {
    display: inline;
}

/* A much better approach would be to use the :not pseudo-class CSS3 selectors */
input[type="text"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="week"], input[type="password"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], input[type="search"], input[type="range"], input[type="number"] {
    width: 250px;
}

form textarea {
    height: 250px;
    width: 500px;
}

/* '<input type="radio">' elements */
div.form_radio {
    clear: both;
    padding-top: 5px;
}

/* '<input type="checkbox">' elements */
input[type="checkbox"] {
    clear: both;
    padding-top: 5px;
}

/**
 *
 * Change the color of all <legend> elements to black
 * because Internet Explorer thinks they should be blue
 *
 */
legend {
    color: #000;
}

/* The fieldset element */
fieldset {
    padding: 0px 5px 5px 5px;
}

/* Basically just the "*" that indicates required fields */
.reqd {
    vertical-align: top;
    color: red;
    font-weight: bold;
    font-size: medium;
    margin-left: 4px;
}

/* Properties for the warning messages displayed during form validation */
.warn_msg, #warn_box {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 5px;
    font-weight: bold;
    color: red;
}

.warn_img {
    border: 0;
    margin-right: 5px;
}

#warn_list {
    list-style-type: square;
    color: #000;
}

.error {
    border: 1px solid red;
}

.warn {
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 2px;
    font-weight: bold;
    color: red;
}

/* Class applied to form elements when an error happens */
.element_error_class {
    border: 1px solid red;
    color: red;
}

/* the styling for the side-by-side form elements, i.e. "yes/no" radio buttons */
span.sidexside {
    margin-right: 20px;
}

input[type="submit"][value="OK"], input[type="button"][value="Cancel"], input[type="submit"][value="Edit..."]
input[type="submit"][value="Delete"]
input[type="submit"][value="&lt;&lt; Back"] {
    height: 22px;
    width: 70px;
    padding-bottom: 2px;
}

legend a {
    cursor: help;
}

input:focus, textarea:focus, select:focus {
    border: 3px solid purple;
}

.dateSet label, .dateSet select {
    display: inline;
}

.dateSet label {
    position: absolute;
    left: -10000px;
}

#light_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background: #7F7F7F;
    opacity: 0.5;
    display: none;
}

#login {
    color: black;
    padding: 10px;
    width: 70px;
    text-align: center;
    margin-left: 650px;
    margin-top: 50px;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.98);
}

#tehF0rm {
    width: 600px;
    z-index: 1000;
    background: #FFF;
    position: absolute;
    top: 0%;
    margin-left: 450px;
    margin-top: 4em;
    padding-left: 20px;
    display: none;
    border: 1px solid #949494;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.98);
}

#close {
    color: #ACAAAA;
    margin-left: 350px;
}